@using System.ComponentModel.DataAnnotations
@model Business.DTOs.JobOfferDto
@{ ViewData["Title"] = "Add Job Offer"; }

<h4>Add job offer</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="AddJobOffer">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Name</h5>
                @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", required = true, maxlength = 64 })
            </div>
            <div class="form-group">
                <h5>City</h5>
                @Html.TextBoxFor(model => model.City, new { placeholder = "City", required = true, maxlength = 64 })
            </div>
            <div class="form-group">
                <h5>Description</h5>
                @Html.TextAreaFor(model => model.Description, new { placeholder = "Description", required = true, maxlength = 1024, rows = 10, cols = 100 })
            </div>

            <h5>Relevant skills</h5>
            <div id="skillsEditor" class="form-group col-10">
                @for (int i = 0; i < Model.RelevantSkills.Count; i++)
                {
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.RelevantSkills[i], new { placeholder = "Skill", required = true, maxlength = 64 })
                    </div>
                }
                <input type="submit" formaction="AddNewSkill" value="Add new skill" class="btn btn-secondary" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create job offer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
