@using Business.DTOs;
@model MVC.Models.PagedListViewModel<JobOfferDto>
@{
    ViewData["Title"] = "Job Offers";
}
<p>
    @Html.ActionLink("Add job offer", "AddJobOffer", "JobOffer", 0, new { @class = "btn btn-primary" })
</p>
<h4>All offers</h4>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.City
            </td>
            <td style="float: right;">
                @Html.ActionLink("Detail", "JobOfferDetail", "JobOffer", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "DeleteJobOffer", "JobOffer", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial", Model.Pagination);
    }
</div>
