@using Business.DTOs;
@using DAL.Entities
@model MVC.Models.PagedListViewModel<JobOfferDto>
@{
    ViewData["Title"] = "Job Offers";
}

@if (User.IsInRole("Company"))
{
    <h4>My job offers</h4>
    <p>
        @Html.ActionLink("Add job offer", "AddJobOffer", "JobOffer", 0, new { @class = "btn btn-primary" })
    </p>
}
else
{
    <h4>All job offers</h4>
    <form method="get">
        Filter by specific skill: <input type="text" name="skill"> <input type="submit" value="Submit">
    </form>
    if (User.IsInRole("JobSeeker"))
    {
        <div>@Html.ActionLink("Filter by my skills", "Index", "JobOffer", new { filterMySkill = true }, new { @class = "btn btn-primary" })</div>
    }
<div>@Html.ActionLink("Reset filters", "Index", "JobOffer", new {}, new { @class = "btn btn-secondary" })</div>
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Company.Name
                </td>
                <td>
                    @item.City
                </td>
                <td style="float: right;">
                    @Html.ActionLink("Detail", "JobOfferDetail", "JobOffer", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @if (User.IsInRole("Company"))
                    {
                        @Html.ActionLink("Edit", "EditJobOffer", "JobOffer", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "DeleteJobOffer", "JobOffer", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial", Model.Pagination);
    }
</div>
