@using DAL.Enums
@using System.Web.Mvc.Html
@using Microsoft.AspNetCore.Mvc.Rendering
@model Business.DTOs.UserRegisterDto
@{ ViewData["Title"] = "Register";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col s12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p class="text-red">@Html.ValidationSummary(true, "")</p>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Username:</div>
                <div class="input-field col s12 l8">
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", required = true })
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Password:</div>
                <div class="input-field col s12 l8">
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", required = true })
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s12 l4">Role:</div>
                <div class="dropdown col s12 l8">
                    @Html.DropDownList("Role", Html.GetEnumSelectList(typeof(Roles)))
                </div>
            </div>
            <div class="row">
                <input type="submit" name="Register" method="post" value="Register" class="btn orange col s12" />
            </div>
        }
    </div>
</div>

