@using DAL.Enums
@using System.Web.Mvc.Html
@using Microsoft.AspNetCore.Mvc.Rendering
@model Business.DTOs.UserRegisterDto
@{ ViewData["Title"] = "Register";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>@Html.ValidationSummary( "")</p>
            <div class="row">
                <div class="col">Username:</div>
                <div class="col">
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", required = true, maxlength = 64 })
                </div>
            </div>
            <div class="row">
                <div class="col">Password:</div>
                <div class="col">
                    @Html.PasswordFor(model => model.Password, new { placeholder = "Password", required = true, maxlength = 64 })
                </div>
            </div>
            <div class="row">
                <div class="col">Role:</div>
                <div class="dropdown col">
                    @Html.DropDownList("Role", Html.GetEnumSelectList(typeof(Roles)))
                </div>
            </div>
            <div>
                <input type="submit" name="Register" method="post" value="Register" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

